
<div class="container col-md-6">
<h1 class="text-center mt-5">Admin Signup</h1>

<form action="/admin/signup" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">    
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">    
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" placeholder="password" name="password" id="password">
  </div>
  <div class="mb-3">
    <a href="/admin/login" class="text-decoration-none">Already have account ?</a>
  </div>
  <button type="submit" class="btn btn-success d-flex ms-auto">Signup</button>
</form>
</div>